/* font */

@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* CSS de la bannière */

#headerBan 
{
    background-color: #669999;
    height: 400px;
    margin-bottom: 50px;
}

#titleAlaska
{
    font-size: 5vw;
    font-family: 'alex_brushregular';
    margin-top: 130px;
}

#titleJeanForteroche
{
    font-size: 4vw;
    font-family: 'alex_brushregular';
}

/* CSS listPostsView */

#titreLastNews
{
    text-align: center;
    font-size: 20px;

}

#textWelcome
{
    text-align: center;

}

/* CSS postView */

#titleComment
{
    text-align: center;
}

.anotComment
{
    text-align: center;
}

.commentContent
{
    text-align: center;
}

#formAddComment
{
    text-align: center;
}

/* CSS footer */

.footer
{
    height: 50px;
    background-color: #669999;
    margin-top: 20px;
}

#linkFooterAdmin
{
    padding-top: 15px;
    margin-left: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

/* CSS loginAdminView */

#formLogin 
{
    margin-top: 20px;
}

.formPassword
{
    padding-left: 0px;
    margin-left: 41.26666667%;
}

/* CSS pannelAdmin */

#tableAdminChapiter tr
{
    height: 70px;
}

#tableAdminChapiter td
{
    padding: 25px;
}

#tableAdminChapiter th
{
    padding-top: 25px;
}

.lineTitle
{
    width: 25%;
}

.buttonAddAdmin 
{
    margin-top: 28px;
    margin-bottom: 10px;
}

/* CSS editionAdmin */

#editor
{
    height: 500px;
}

.labelTitleEditor
{
    font-size: 2em;
}

#buttonEditor
{
    height: 50px;
    font-size: 1.5em;
}

/* CSS global */

* {-moz-box-sizing: border-box; box-sizing: border-box;}

html 
{
    height: 100%;
}

body 
{
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

h3
{
    text-align:center;
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}