/* font */

@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dancing_script_otregular';
    src: url('../fonts/dancingscript-regular-webfont.woff2') format('woff2'),
         url('../fonts/dancingscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/************** CSS global **************/

* {-moz-box-sizing: border-box; box-sizing: border-box;}

html 
{
    height: 100%;
}

body 
{
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    overflow-x: hidden;
    font-family: 'Raleway';
}

a:focus
{
    outline: 0;
}

/**********************************/

/************** CSS de la bannière **************/

/**** Global ****/

#headerBan 
{
    background-color: #5b677a;
    color: white;
    min-height: 250px;
    margin-bottom: 50px;
    padding-top: 50px;
    box-shadow: 0px 1px 15px black;
}

/**** Dans postView.php ****/

#titleChapter
{
    font-size: 5em;
    font-family: 'dancing_script_otregular';
}

#dateChapter
{
    font-size: 1.5em;
    font-weight: normal;
    font-family: 'Raleway';
    font-style: italic;
}

/**** Dans pannelAdmin.php ****/

#headerBanPannelAdmin
{
    background-color: #5b677a;
    color: white;
    min-height: 150px;
    margin-bottom: 50px;
    padding-top: 20px;
    box-shadow: 0px 1px 15px black;
}

#titleAdmin
{
    font-size: 5em;
    font-family: 'dancing_script_otregular';
}

/**** Dans trashAdmin.php ****/

#headerBanTrash
{
    background-color: #5b677a;
    color: white;
    min-height: 150px;
    margin-bottom: 50px;
    padding-top: 20px;
    box-shadow: 0px 1px 15px black;
}

#titleTrash
{
    font-size: 5em;
    font-family: 'dancing_script_otregular';
}

/**** Dans editionAdmin.php ****/

#headerBanEditer
{
    background-color: #5b677a;
    color: white;
    min-height: 150px;
    margin-bottom: 50px;
    padding-top: 20px;
    box-shadow: 0px 1px 15px black;
}

#titleEditer
{
    font-size: 5em;
    font-family: 'dancing_script_otregular';
}

/**** Dans listPostsView.php ****/

#headerBanAccueil
{
    background-color: #5b677a;
    color: white;
    min-height: 350px;
    margin-bottom: 50px;
    padding-top: 70px;
    box-shadow: 0px 1px 15px black;
}

#titleAlaska
{
    font-size: 7em;
    font-family: 'dancing_script_otregular';
}

#titleJeanForteroche
{
    font-size: 3em;
    font-family: 'dancing_script_otregular';
}

/**** Dans loginAdminView.php ****/ 

#headerBanLogin
{
    background-color: #5b677a;
    color: white;
    min-height: 150px;
    margin-bottom: 50px;
    padding-top: 20px;
    box-shadow: 0px 1px 15px black;
}

#titleLogin
{
    font-size: 5em;
    font-family: 'dancing_script_otregular';
}

/**** Dans informations.php ****/

#headerBanInfos
{
    background-color: #5b677a;
    color: white;
    min-height: 150px;
    margin-bottom: 50px;
    padding-top: 20px;
    box-shadow: 0px 1px 15px black;
}

#titleInfos
{
    font-size: 5em;
    font-family: 'dancing_script_otregular';
}


/**********************************/

/************** CSS listPostsView **************/

#titreLastNews
{
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
}

#textWelcome
{
    text-align: center;
    font-size: 1.5em;
}

.chapterContainer 
{
    height: 400px;
    padding-left: 0px;
    padding-right: 10px;
}

.chapterContent
{
    height: 390px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

/**********************************/

/************** CSS postView **************/

.divPost
{
    position: relative;
}

.labelPostComment,
.labelPostAuthor,
.labelPostCommentResponse,
.labelPostAuthorResponse
{
    font-size: 1.2em;
    position: absolute;
    cursor: text;
    -webkit-transition: -webkit-transform .1s ease-out;
    transition: -webkit-transform .1s ease-out;
    transition: transform .1s ease-out;
    transition: transform .1s ease-out, -webkit-transform .1s ease-out;
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    pointer-events: none;
    }

.labelPostComment.active,
.labelPostAuthor.active,
.labelPostCommentResponse.active,
.labelPostAuthorResponse.active
{
    -webkit-transform: translateY(-14px) scale(0.8);
            transform: translateY(-14px) scale(0.8);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
}

.inputPostComment,
.inputPostAuthor,
.inputPostCommentResponse,
.inputPostAuthorResponse
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 0px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    -webkit-transition: border-color ease-in-out .25s;
         -o-transition: border-color ease-in-out .25s;
            transition: border-color ease-in-out .25s;
}

.body-response
{
    margin-left: 50px;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.responsePost
{
    border-bottom: 1px #ddd solid;
}

.btnAddComment
{
    margin-bottom: 50px;
}

.modalAddComment
{
    width: 100%;
    top: 675px;
}

/**********************************/

/************** CSS footer **************/

.footer
{
    height: 50px;
    background-color: #5b677a;
    margin-top: 50px;
    box-shadow: 1px 0px 15px black;
}

#linkFooterAdmin
{
    padding-top: 15px;
    margin-left: 15px;
}

#linkFooterDisconnect
{
    padding: 15px 0px 0px 25px;
}

footer 
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

footer a
{
    color: blue;
    font-size: 1.3em;
}

/**********************************/

/************** CSS loginAdminView **************/

#formLogin 
{
    margin-top: 20px;
}

.formPassword
{
    padding-left: 0px;
    margin-left: 41.26666667%;
}

/**********************************/

/************** CSS pannelAdmin **************/

#tableAdminChapiter
{
    margin-top: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#tableAdminChapiter td,
#tableAdminChapiter th
{
    border: 0px;
    border-top: 1px solid #a6a6a6;
}

#tableAdminChapiter tr:hover
{
    background-color: rgba(192, 192, 192, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#tableAdminChapiter tr
{
    height: 70px;
}

#tableAdminChapiter td
{
    vertical-align: middle;
}

#tableAdminChapiter th
{
    vertical-align: middle;
    border-top: 0px solid #a6a6a6;
}

.lineTitle
{
    width: 30%;
}

.lineView
{
    width: 15%;
}

.nbSignal
{
    width: 40px;
    height: 40px;
    line-height: 35px;
    background-color: red;
    font-size: 17px;
    box-shadow: 0px 0px 5px black;
    vertical-align: middle;
    border-radius: 50%;
}

.btnModif,
.btnDel,
.btnAdd,
.btnTrash,
.btnApr,
.btnMod,
.btnRestore
{
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.4em;
    color: white;
    background-color: rgba(0, 162, 255, 0.685);
    vertical-align: middle;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
}

.btnDel
{
    background-color: red;
    line-height: 42px;
}

.btnAdd
{
    background-color: #669999;
    font-size: 0.8em;
    padding-left: 2px;
    line-height: 38px;
    margin-bottom: 7px;
}

.btnTrash
{
    font-size: 0.8em;
    background-color: red;
    padding-right: 2px;
    margin-bottom: 7px;
}

.btnApr
{
    background-color: #5cb85c;
    padding-right: 2px;
}

.btnMod
{
    background-color: #f0ad4e;
}

.btnRestore
{
    background-color: #5cb85c;
    line-height: 42px;
}

.btnDesactived
{
    background-color: #DFDFDF !important;
    color: #9F9F9F !important;
    cursor: default;
}

.linkAdd
{
    margin-left: 10px;
}

.linkInTab
{
    margin-left: 3px;
}

.pulse {
    overflow: initial;
    position: relative;
}

.pulse::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s, -webkit-transform .3s;
    -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
            animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1;
}

@-webkit-keyframes pulse-animation {
    0% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      opacity: 0;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  
  @keyframes pulse-animation {
    0% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      opacity: 0;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
}

/**********************************/

/************** CSS editionAdmin **************/

.divEditer
{
    position: relative;
}

.labelEditerTitle,
.labelEditerAuthor
{
    font-size: 1.2em;
    position: absolute;
    cursor: text;
    -webkit-transition: -webkit-transform .1s ease-out;
    transition: -webkit-transform .1s ease-out;
    transition: transform .1s ease-out;
    transition: transform .1s ease-out, -webkit-transform .1s ease-out;
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    pointer-events: none;
    }

.labelEditerTitle.active,
.labelEditerAuthor.active
{
    -webkit-transform: translateY(-14px) scale(0.8);
            transform: translateY(-14px) scale(0.8);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
}

.inputEditerTitle,
.inputEditerAuthor
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 0px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    -webkit-transition: border-color ease-in-out .25s;
         -o-transition: border-color ease-in-out .25s;
            transition: border-color ease-in-out .25s;
}

#buttonEditor
{
    height: 50px;
    font-size: 1.5em;
}

.rowButton
{
    padding-right: 13px;
}

.selecteur
{
    margin-right: 13px;
    margin-bottom: 20px;
}

/**********************************/