/* font */

@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* CSS de la bannière */

#headerBan 
{
    background-color: #669999;
    height: 400px;
    margin-bottom: 50px;
}

#titleAlaska
{
    font-size: 5vw;
    font-family: 'alex_brushregular';
    margin-top: 130px;
}

#titleJeanForteroche
{
    font-size: 4vw;
    font-family: 'alex_brushregular';
}

/* CSS listPostsView */

#titreLastNews
{
    text-align: center;
    font-size: 20px;

}

#textWelcome
{
    text-align: center;

}

.chapterContainer 
{
    height: 400px;
    padding-left: 0px;
    padding-right: 10px;
}

.chapterContent
{
    height: 390px;
    border: 1px black solid;
}

/* CSS postView */

#titleComment
{
    text-align: center;
}

.anotComment
{
    text-align: center;
}

.commentContent
{
    text-align: center;
}

#formAddComment
{
    text-align: center;
}

/* CSS footer */

.footer
{
    height: 50px;
    background-color: #669999;
    margin-top: 20px;
}

#linkFooterAdmin
{
    padding-top: 15px;
    margin-left: 15px;
}

#linkFooterDisconnect
{
    padding-top: 15px;
    margin-left: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

/* CSS loginAdminView */

#formLogin 
{
    margin-top: 20px;
}

.formPassword
{
    padding-left: 0px;
    margin-left: 41.26666667%;
}

/* CSS pannelAdmin */

#tableAdminChapiter tr
{
    height: 70px;
}

#tableAdminChapiter td
{
    padding: 25px;
}

#tableAdminChapiter th
{
    padding-top: 25px;
}

.lineTitle
{
    width: 25%;
}

.buttonAddAdmin 
{
    margin-top: 28px;
    margin-bottom: 10px;
}

/* CSS editionAdmin */

.divEditer
{
    position: relative;
}

.labelEditerTitle
{
    font-size: 1.2em;
    position: absolute;
    cursor: text;
    -webkit-transition: -webkit-transform .1s ease-out;
    transition: -webkit-transform .1s ease-out;
    transition: transform .1s ease-out;
    transition: transform .1s ease-out, -webkit-transform .1s ease-out;
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    pointer-events: none;
    }

.labelEditerTitle.active
{
    -webkit-transform: translateY(-14px) scale(0.8);
            transform: translateY(-14px) scale(0.8);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
}

.labelEditerAuthor
{
    font-size: 1.2em;
    position: absolute;
    cursor: text;
    -webkit-transition: -webkit-transform .1s ease-out;
    transition: -webkit-transform .1s ease-out;
    transition: transform .1s ease-out;
    transition: transform .1s ease-out, -webkit-transform .1s ease-out;
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    pointer-events: none;
    }

.labelEditerAuthor.active
{
    -webkit-transform: translateY(-14px) scale(0.8);
            transform: translateY(-14px) scale(0.8);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
}

.inputEditerTitle
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 0px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    -webkit-transition: border-color ease-in-out .25s;
         -o-transition: border-color ease-in-out .25s;
            transition: border-color ease-in-out .25s;
}

.inputEditerAuthor
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 0px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    -webkit-transition: border-color ease-in-out .25s;
         -o-transition: border-color ease-in-out .25s;
            transition: border-color ease-in-out .25s;
}

#buttonEditor
{
    height: 50px;
    font-size: 1.5em;
}

.rowButton
{
    padding-right: 13px;
}

/* CSS global */

* {-moz-box-sizing: border-box; box-sizing: border-box;}

html 
{
    height: 100%;
}

body 
{
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

a
{
    text-decoration: none;
    color: blue;
}